<!-- Prikaz detalja knjige (slika, zanr, naslov, dugme koje vodi na detaljniji opis, cena) i metoda za dodavanje knjige u korpu -->
<mat-card class="text-center p-20 m-20">
    <div>
      <img class="mx-auto h-[100px]" [src]="book?.image" alt="">
    </div>
    <div class="w-full">
      <div>
        <h5>{{ book?.genre }}</h5>
        <p>{{ book?.title }}</p>
        <button class="mb-6" mat-raised-button>
          <a [href]="book?.description" target="_blank">Vise o knjizi...</a>
        </button>
      </div>
      <div class="flex justify-between">
        <span class="text-red-400">{{ book?.price | currency :'RSD'}}</span>
        <button class="mb-6" (click)="onAddToCart()">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-card>



