<mat-card class="mb-4 py-5">
    <div class="flex justify-between p-6">
        <div>
            <!-- Sortiranje po ceni -->
            <button mat-button [matMenuTriggerFor]="sortByMenu">
                Sortiraj po {{sort}}
                <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #sortByMenu="matMenu">
                <button (click)="onSortUpdated('padajucoj')" mat-menu-item>Padajuca</button>
                <button (click)="onSortUpdated('rastucoj')" mat-menu-item>Rastuca</button>
            </mat-menu>
        </div>
        <div class="flex items-center">
            <div>
                <!-- Prikaz zeljenog broja knjiga (6,12,24) -->
                <button mat-button [matMenuTriggerFor]="menu">
                    Prikazi broj knjiga {{itemsShowCount}}
                    <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="onItemsUpdated(6)" mat-menu-item>6</button>
                    <button (click)="onItemsUpdated(12)" mat-menu-item>12</button>
                    <button (click)="onItemsUpdated(24)" mat-menu-item>24</button>
                </mat-menu>
            </div>
             <!-- Prikaz 3 kniga u koloni -->
            <button (click)="onColumnsUpdated(3)">
                <mat-icon>view_module</mat-icon>
            </button>
             <!-- Prikaz 4 knjiga u koloni-->
            <button (click)="onColumnsUpdated(4)">
                <mat-icon>view_comfy</mat-icon>
            </button>
        </div>
    </div>
</mat-card>
