

    <mat-toolbar color="primary">
        <div class="image_logo" fxLayoutAlign="left">
            <a routerLink="/">
              <img src="assets/logo.png" alt="Logo" height="50px" width="70px" >
            </a>
          </div>

            <div fxFlex fxLayoutAlign="center" fxLayoutGap="50px" fxHide.xs>
                <a routerLink="/"> Početna strana </a>
                <a routerLink="/book-list"> Prodavnica </a>
                <a routerLink="/login"> Prijavi se </a>
                
            </div>
            <div class="profile-wrapper">
                <div class="icon-wrapper">
                    <button mat-mini-fab color="primary" routerLink="/cart">
                        <!-- Azurira ikonicu za svaku stavku dodatu u korpu -->
                        <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity" matBadgeColor="warn"> shopping_cart</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" routerLink="/profile">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                </div>
            </div>

    </mat-toolbar>

    


 <router-outlet></router-outlet>




