<div class="naslovi" fxLayout="column" fxLayoutAlign="center center">
  <h1>Dobrodošli u naš E-Bookstore!</h1>
  <h2>Ovo su naša tri bestsellera.</h2>
</div>
<div class="bestseleri" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
  
<mat-card fxLayout="column" fxLayoutAlign="center center" class="example-book">
  <mat-card-header>
    <mat-card-title>Književni klub knjigomrzaca</mat-card-title>
    <mat-card-subtitle>Komedija</mat-card-subtitle>
  </mat-card-header>
  <br>
      <img mat-card-image src="https://www.laguna.rs/_img/korice/5923/knjizevni_klub_knjigomrzaca-grecen_entoni_v.png" alt="Photo of a Shiba Inu" height="150" width="100">
  <mat-card-content>
    <p>
      <br>
      Grafički roman za sve čitaoce koji žele da saznaju više o istinitom životu ovog izvanrednog pronalazača. Oživljene predivnom akvarel tehnikom, priče o Teslinom životu zasnivaju se na intervjuu koji je dao za Liberty Magazine 1935. godine, a koji je samog autora podstakao na dalja istraživanja. Tesla je bio više od pronalazača. Voleo je da debatuje, čita poeziju, igra poker i još svašta nešto… i svi ti detalji iz njegovog života su dočarani na preko 190 ilustrovanih strana.
    </p>
  </mat-card-content>
</mat-card>

<mat-card fxLayout="column" fxLayoutAlign="center center" class="example-book">
  <mat-card-header>
    <mat-card-title>Persi Džekson i bogovi Olimpa
      </mat-card-title>
    <mat-card-subtitle> Fantastika</mat-card-subtitle>
  </mat-card-header>
  <br>
  <img mat-card-image src="https://www.laguna.rs/_img/korice/3775/persi_dzekson_i_bogovi_olimpa_i_kradljivac_munje-rik_riordan_v.jpg" alt="Photo of a Shiba Inu" height="150px" width="100px">
  <mat-card-content>
    <p>
      <br>
      Persi Džekson će po ko zna koji put biti izbačen iz škole. Međutim, to nije njegov najveći problem. Čudovišta iz grčkih mitova i bogovi Olimpa kao da su rešili da se sa stranica Persijevih udžbenika presele u njegov život i da ga zagorčaju. Da sve bude još gore, on je neke od njih mnogo naljutio. Ukradena je Zevsova vrhovna munja, a Persi je glavni osumnjičeni.Sada on i njegovi prijatelji imaju samo deset dana da pronađu i vrate Zevsovo oružje na Olimp i tako umire bogove. 
    </p>
  </mat-card-content>
</mat-card>

<mat-card fxLayout="column" fxLayoutAlign="center center" class="example-book">
  <mat-card-header>
    <mat-card-title>Kad su veliki pisci bili deca</mat-card-title>
    <mat-card-subtitle> Knjige za decu</mat-card-subtitle>
  </mat-card-header>
  <br>
  <img mat-card-image src="https://www.laguna.rs/_img/korice/5976/kad_su_veliki_pisci_bili_deca-zoran_milekic_v.jpg" alt="Photo of a Shiba Inu" height="150px" width="100px">
  <mat-card-content>
    <p>
      <br>
      Znate li da je mali Branko Ćopić hteo da sa vrha jednog brega grabuljama dohvati mesec? Da li ste čuli da je Ivo Andrić bio nesuđeni glumac? Da li vam je poznato da je mala Isidora Sekulić volela da mašta u  buretu?Svaki veliki pisac postao je to zato što je u detinjstvu zavoleo knjige ili doživeo nešto što ga je posle opredelilo da bude pisac. Na ovim zabavnim stranicama upoznaćeš kakva su detinjstva imali naši pisci i kako su se rane godine odrazile na njihovo sazrevanje i karijeru
    </p>
  </mat-card-content>
</mat-card>
</div>