<div class="naslovi" fxLayout="column" fxLayoutAlign="center center">
  <h1>Dobrodošli u naš E-Bookstore!</h1>
  <h2>Ovo su naša tri bestsellera.</h2>
</div>
<div class="bestseleri" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
  
<mat-card fxLayout="column" fxLayoutAlign="center center" class="example-book">
  <mat-card-header>
    <mat-card-title>Apsolutna istina</mat-card-title>
    <mat-card-subtitle>Autobiografija</mat-card-subtitle>
  </mat-card-header>
  <br>
      <img mat-card-image src="https://www.laguna.rs/_img/korice/5917/apsolutna_istina-majk_tajson_v.jpg" alt="" height="150" width="100">
  <mat-card-content>
    <p>
      <br>
      Bokser, prestupnik, brodvejski zabavljač, zatvorenik, glumac Majk Tajson je prkosio stereotipima, očekivanjima i zdravom razumu tri decenije koliko je proveo u fokusu javnosti. Odrastao u najopasnijem i najsiromašnijem kraju Bruklina, Tajson je postao jedan od najuzbudljivijih i najžešćih boksera svih vremena i najmlađi šampion teške kategorije u istoriji boksa. Ali njegova briljantnost u ringu često je bila ugrožena nesmotrenim ponašanjem. 
    </p>
  </mat-card-content>
</mat-card>

<mat-card fxLayout="column" fxLayoutAlign="center center" class="example-book">
  <mat-card-header>
    <mat-card-title>Čovek po imenu Uve </mat-card-title>
    <mat-card-subtitle> Drama</mat-card-subtitle>
  </mat-card-header>
  <br>
  <img mat-card-image src="https://www.laguna.rs/_img/korice/3366/covek_po_imenu_uve_v.jpg" alt="" height="150px" width="100px">
  <mat-card-content>
    <p>
      <br>
      Upoznajte Uvea. On je džangrizalo  jedan od onih koji upiru prstom u ljude koji mu se ne dopadaju kao da su provalnici zatečeni pod njegovim prozorom. Svakog jutra Uve ide u inspekciju po naselju u kom živi. Premešta bicikle i proverava da li je đubre pravilno razvrstano – iako je već nekoliko godina prošlo otkako je razrešen dužnosti predsednika kućnog saveta. Ili otkako je „izvršen prevrat“, kako Uve govori o tome. Ljudi ga zovu „ogorčenim komšijom iz pakla“. 
    </p>
  </mat-card-content>
</mat-card>

<mat-card fxLayout="column" fxLayoutAlign="center center" class="example-book">
  <mat-card-header>
    <mat-card-title>Alijenista</mat-card-title>
    <mat-card-subtitle> Horor</mat-card-subtitle>
  </mat-card-header>
  <br>
  <img mat-card-image src="https://www.laguna.rs/_img/korice/69/alijenista-kejleb_kar_v.jpg" alt="" height="150px" width="100px">
  <mat-card-content>
    <p>
      <br>
      Kada je Alijenista prvi put objavljen 1994, brzo je postao senzacionalni bestseler koji je proveo punih šest meseci na top-listi New York Timesa, primio odlične književne kritike, i prodao se u milionima primeraka. Ovaj moderni klasik i dalje oduševljava ljubitelje istorijskih trilera i horora širom sveta, a sada se prikazuje i kao TV serija.Zakoračite u drugo vreme  i nezaboravan košmar. Godina je 1896. Grad je Njujork. U toku je hajka na zbunjujuću, novu vrstu zločinca. Na serijskog ubicu.
    </p>
  </mat-card-content>
</mat-card>
</div>